* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #323131;
  color: #ffffff;
}

.topo-claquete {
  background-color: #2a2a2a;
  padding: 20px;
}

.menu {
 display: flex;
  justify-content: center;       
  list-style: none;
  gap: 20px;                    
  padding: 0 40px;                
  max-width: 1000px;            
  margin: 0 auto;                
}


.menu li a {
  background-color: #2a2a2a;
  color: #ffffff;
  padding: 30px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
}

.imagem-header {
  height: 400px;
  background-color: #444;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
}

.conteudo {
  display: flex;
  padding: 30px;
  gap: 20px;
}

.postagem {
  background-color: #444;
  padding: 20px;
  border-radius: 10px;
  flex: 2;
}
.imagem-postagem {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 20px auto;
  border-radius: 8px;
}

.postagem h1 {
  font-size: 30px;
  color: #bf9000;
  font-weight: bold;
  margin-bottom: 15px;
}

.postagem p {
  font-size: 18px;
  color: #ffffff;
}

.coluna-lateral {
  background-color: #bf9000;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.coluna-lateral img {
  width: 100%;              
  height: auto;            
  border-radius: 8px;      
  object-fit: cover;     
  align-items: center;
  margin-bottom: 15px;     
}


.resumo p {
  font-size: 18px;
  color: #2a2a2a;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #2a2a2a;
  color: #ffffff;
  margin-top: 30px;
}

























